---
const { url, title, pubDate } = Astro.props

const year = pubDate.getFullYear()
const month = pubDate.getMonth()
const day = pubDate.getDate()
---
<li class="blog-card">
  <span class="blog-date">{year}-{month}-{day}</span>
  <a class="blog-link" href={url}>{title}</a>
</li>

<style>
  .blog-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none !important;
  }

  .blog-date {
    white-space: nowrap;
  }

  .blog-link {
    flex: 1;
    text-align: left;
    color: #5ba300;
  }

  .blog-link:visited,
  .blog-link:active,
  .blog-link:hover,
  .blog-link:focus {
    color: #5ba300;
    text-decoration: none;
  }
</style>
